#archivos y carpetas del proyecto Android
kAIros/*.iml
kAIros/.gradle
kAIros/local.properties
kAIros/.idea/caches
kAIros/.idea/libraries
kAIros/.idea/modules.xml
kAIros/.idea/workspace.xml
kAIros/.idea/navEditor.xml
kAIros/.idea/assetWizardSettings.xml
kAIros/.DS_Store
kAIros/build
kAIros/captures
kAIros/.externalNativeBuild
kAIros/.cxx
kAIros/local.properties
*.zip

# Archivos y carpetas sensibles en el backend
backend/.env
backend/config/serserviceAccountKey.json
backend/node_modules/
backend/cert.pem
backend/key.pem
backend/public/generated/

